header {
  text-align: center;
  background-color: rgb(61, 129, 255);
  color: white;
  padding: 20px;
}
section {
  margin-left: 20px;
}
h2 {
  color: rgb(61, 129, 255);
}
.importante {
  text-decoration: underline;
  font-weight: bold;
}
table {
  width: 60%;
  margin-left: 20px;
  text-align: center;
}
thead {
  height: 40px;

  color: white;
}
th {
  height: 40px;
  background-color: rgb(61, 129, 255);
}
tbody > tr {
  background-color: lightblue;
}

tbody > tr:nth-child(even) {
  background-color: rgb(122, 203, 230);
}
.descanso {
  font-weight: bold;
}
